:root{
    --primary_color: #333;
}
/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 20%; /* 1/5 szerokości */
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /* Ukrycie nadmiarowego logo */
}

.logo {
    width: fit-content;
    height: fit-content; 
    overflow: hidden; 
    display: flex; 
    align-items: center;
    padding: 10px;
    margin-bottom: 20px; /* Dodatkowy margines na dole dla wyśrodkowania */
    margin-top: 10px;
}

.logo img {
    width: 100%;
    justify-content: center;
    height: 100%;
    object-fit: cover; /* Zachowanie proporcji */
    display: block;
}


.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Odnośniki wycentrowane */
    justify-content: center; /* Linki wycentrowane */
    height: 100%; /* Wyśrodkowanie linków na całej wysokości menu */
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color:var(--primary_color);
    display: block;
    padding: 10px;
    text-align: center; /* Tekst wycentrowany */
    font-size: 2em; /* Powiększenie czcionki */
    transition: color 1s ease; /* Płynne przejście koloru */
    position: relative; /* Pozycja dla podkreślenia */
}

.menu ul li::before {
    position: absolute;
    width: 100%;
    height: 2px; /* Grubość podkreślenia */
    bottom: -3px; /* Odległość od tekstu */
    left: 0; /* Początkowa pozycja */
    visibility: hidden;
    background-color: transparent; /* Kolor podkreślenia (początkowo transparentne) */
    transition: transform 0.3s ease, visibility 0.3s ease, width 0.3s ease; /* Dodanie przejścia dla transformacji i widoczności */
}

.menu ul li a:hover::before {
    visibility: visible;
    width: 100%; /* Pełna szerokość podkreślenia */
    transform: scaleX(2); /* Rozszerzenie podkreślenia */
}

.menu ul li:hover a {
    color: #acacac; /* Zmiana koloru po najechaniu */
    text-decoration: none; /* Usunięcie podkreślenia po najechaniu */
}


/* Media queries dla telefonów */
@media screen and (max-width: 768px){
    *{
        font-size: 3vw;
    }
    .menu {
        width: 100%;
        height: auto;
        position: static;
        flex-direction: row; /* Zmiana kierunku dla odnośników na poziomy */
        overflow: visible; /* Pokazanie nadmiarowego logo */
    }

    .logo {
        width: 100px; /* Pomniejszenie szerokości logo dla telefonów */
        height: 65px; /* Pomniejszenie wysokości logo dla telefonów */
        margin-bottom: 0; /* Resetowanie marginesu */
        margin-right: 30px;
    }

    .menu ul {
        flex-direction: row; /* Odnośniki poziomo dla telefonów */
        justify-content: center space-around; /* Wyśrodkowanie odnośników */
        align-items: center; /* Wyśrodkowanie odnośników */
        height: auto; /* Wysokość automatyczna */
        margin-top: 20px; /* Dodatkowy margines na górze */
    }

    .menu ul li {
        margin-bottom: 0;
        margin-right: 50px; /* Odstęp między odnośnikami */
        position: relative; /* Pozycja dla podkreślenia */
    }

    .menu ul li:last-child {
        margin-right: 0; /* Usunięcie marginesu dla ostatniego odnośnika */
    }

    .menu ul li a {
        font-size: 1em; /* Zmniejszenie czcionki odnośników o 2 razy */
    }
}
